*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.con{
    padding: 20px;
    width: 200px;
    height: 100px;
    color: #000000;
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: 100px;
    border: #000000 solid 10px;
    height: 600px;
    width: 500px;
}

.absolute{
    position: absolute;
    border: #000000 solid 10px;
    bottom: 0; /*mesmo comportamento, mas não passa do tamanho da relative
                por estar dentro da div, e ser orientado a relativa
    */
}

/*
    1 - por padrão o position é static, então se eu colocar nada muda

    2 - position: relative; já podemos manipular o (top, bottom, right e left)
    sempre colocamos o que queremos afastar se for top, ele desce pra baixo 
    e afasta encima, se for bottom, o contrário

    OBS: relative, o espaço ocupado anteriormente continua lá e elementos não
    podem sobrepor

    3 - absolute, é posicionado em relação ao elemento mais próximo com relative
    /absolute ou fixed, se não existir é em relação ao body

    não ocupa espaço, pode se sobrepor a outros elementos
 */