*{
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;;
    padding: 0; /* isso obriga a melhorar o teu CSS sem depender de padrões externos*/
    margin: 0;
    outline: 0;
}
body{
     height: 180vh;
}
.con{
    padding: 20px;
    width: 200px;
    height: 100px;
    color: #000000;
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: 100px;
    border: #000000 solid 10px;
    height: 600px;
    width: 500px;
}

.absolute{
    position: absolute;
    border: #000000 solid 10px;
    bottom: 0; /*mesmo comportamento, mas não passa do tamanho da relative
                por estar dentro da div, e ser orientado a relativa
    */
}

/*
    1 - por padrão o position é static, então se eu colocar nada muda

    2 - position: relative; já podemos manipular o (top, bottom, right e left)
    sempre colocamos o que queremos afastar se for top, ele desce pra baixo 
    e afasta encima, se for bottom, o contrário

    OBS: relative, o espaço ocupado anteriormente continua lá e elementos não
    podem sobrepor

    3 - absolute, é posicionado em relação ao elemento mais próximo com relative
    /absolute ou fixed, se não existir é em relação ao body

    não ocupa espaço, pode se sobrepor a outros elementos

*/

.fixo{
    color: #FFFFFF;
    background-color: #000000;
    position: fixed;
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 0;
    border: 20px;
}

.stick{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    position:sticky;
    top: 0; /* gruda no topo do site e o sticky gruda no topo da tela*/
    text-decoration: none;
}