*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif, serif;
}

/* Inicio do HEADER*/
.nav{
    height: 80px;
    background-color: #4F4F4F;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list{
    display: flex;
    list-style: none; /* Retira as bolinhas do elemento da lista */
    margin-right: 28px;
}

.nav-list a{ /* Acesso os elementos que estão dentro da tag que está com a classe */
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}

.nav-list a:hover{ /* propriedade que ao passar o mouse muda algo*/
    color: white;
}

/* FIM DO HEADER */

/* INICIO DO MAIN*/
.main{
    width: 100%; /* pega 100% do width até o final */
    background-color: black;
    height: calc(100vh - 80px); /* O 100vh pega a tela inteira, mas como já temos um height de 80px
                                fazemos a subtração para que não fique sobrando scroll da página
    */
    background-image: url(imgs/programador.png); /* tem como fazer a imagem do background diretamente no CSS*/
    display: flex;
    align-items: center; /* ativei o flexbox no center para uso*/
    padding-left: 10%;
}

.main h1{
    font-size: 54px;
    color: white;
}

.main p{
    font-size: 24px;
    color: white;
    font-style: italic;
    color: #00BFFF;
    margin-top: 10px;
    margin-bottom: 35px;
}

.main button{
    color: black;
    font-size: 30px;
    border-radius: 5px;
    border: none; /* Deixando um botão bonito com border:none, padding e box shadow*/
    padding: 10px;
    box-shadow: #4F4F4F;
    font-weight: bold;
}

.main a{
    text-decoration: none;
}

.call_to_action{
        cursor:pointer;
        background-color: #FFFFFF;
        border: 0;
        padding: 14px;
        border-radius: 4px;
        font-size: 18px;
        font-weight: bold;
        transition: 0.9s; /* faz a transição em uma animação geralmente de expansão*/
}

.call_to_action:hover{
    transform: scale(1.1); /* aumenta em 10% de tamanho, eu acho*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: silver;
}

/* FIM MAIN */

/* INICIO SOBRE */

.about{
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 10%; /* esses padding definem um tamanho padrão para o meu sobre*/
    padding-right: 10%;
    padding-top: 80px; /* colocamos mais um espaçamento dentro do nosso box sizing de 80px, encima e embaixo*/
    padding-left: 80px; 
    display: flex; /* tá pegando tudo logo em linha vai ficar um do lado outro por padrão*/
    align-items: center;
    justify-content: space-between;
}

.about div{
    max-width: 50%; /* garante que a largura nunca seja maior que 50%*/
    padding-right: 50px;
}

.about img{
    max-width: 450px;
    border-radius: 8px;
}

.about div h2{
    font-size: 38px;
    margin-bottom: 14px;
}

/*FIM DO SOBRE*/

/*INICIO DA ABA DE PROJETOS*/

.projects{
   width: 100%;
   padding: 80px 0; /* 80px, encima e embaixo e 0 na direita e esquerda*/
   display: flex;
   flex-direction: column; /* centraliza tudo encima um do outro*/
   align-items: center;
   justify-content: center; 
}

.projects h1{
    font-size: 38px;
}

.projects p{
    font-style: italic;
    font-size: 18px;
    margin-bottom: 10px; /* para desgrudar das imagens abaixo (espaço externo) */
}

.projects-list{ /* essa list vai pegar nas três imagens, e cerca 100% da largura */
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.9s;
}

.projects img{
    width: 22%;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.8; /* 80% visivel para efeito de visualização ao passar o mouse */
}

.projects img:hover{
    opacity: 1;
}

.button{
    cursor: pointer;
    padding: 20px 30px; /* com esse padding consigo ajustar a altura do meu botão (Y) e no número posterior a largura (X)*/
    border-radius: 8px;
    border: #4F4F4F solid 3px ;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 10px auto; /* quando a margin é auto, podemos definir no topo ou embaixo, com um número antes do auto */
                       /* margin:auto; centraliza por definir a mesma distância pro lado direito e esquerdo */
}

/* FIM DA ABA DE PROJETOS*/

/* INICIO DO FOOTER */
.footer{
    width: 100%;
    background-color: #000000;
    padding: 50px 0;
}

.footer p{
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

/* FIM DO FOOTER */

/* RESPONSIVIDADE*/

@media (max-width:1000px){
    /*MAIN*/
    .main{
        background-size: cover;
    }
    /*FIM DO MAIN*/
    /*SOBRE*/
    
    .about{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        padding-bottom: 80px;
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
        max-width: 100%;
    }

    .about div p{
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .about div h2{
        font-size: 52px;
    }
    
    .about img{
        width: 300px;
    }
    /*FIM DO SOBRE*/

    /*INCIO DO PROJETOS*/
    .projects img{
        width: 28%;
    }

}