main{
    width: 100%;
    padding-left: 30px;
}

main h1{
    font-family: sans-serif, serif;
    font-size: 38px;
}

main label{
    font-family: sans-serif, serif;
    font-size: 18px;
}
main input{
    border-radius: 8px;
    margin-top: 5px;
    width: 200px;
    padding: 10px;
}

.botao_cadastrar{
    margin-left: 10px;
    padding: 10px;
    color: #FFFFFF;
    background-color: green;
    border-radius: 10px;
    width: 80px;
}

.botao_resetar{
    margin-left: 10px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 10px;
    width: 80px;
}