*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, serif;
}

.nav-bar{
    height: 100px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar ul{
    display: flex;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    list-style:none;
}

.nav-bar li{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
